.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}


.link {
    color: #2175FF;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
  }
  
  .link--arrowed {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
  }
  .link--arrowed .arrow-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
  }
  .link--arrowed .arrow-icon--circle {
    transition: stroke-dashoffset 0.3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
  }
  .link--arrowed:hover .arrow-icon {
    transform: translate3d(5px, 0, 0);
  }
  .link--arrowed:hover .arrow-icon--circle {
    stroke-dashoffset: 0;
  }